{% extends 'base.html' %}
{% block title %}Dashboard{% endblock title %}
{%block body%}
<div class="container">
    <form method="POST" action="/api/chart/data">
        {% csrf_token %}
        <legend>Select region</legend>
        <select class="form-select" aria-label="Default select example" name="region">
            {% for data in objregion %}
            <option value="{{data.Customer_Region}}">{{data.Customer_Region}}</option>
            {% endfor %}
        </select></br>
        <button type="submit" value="submit" class="btn btn-primary btn-sm">submit</button>
    </form>
</div></br>

<div class="container">
    <canvas id="myChart" width="800" height="200"></canvas>
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',  //bar,pie,line
            data: {
                labels: [{% for reg in objregionfilter %} '{{reg.month| date:"M-Y"}}', {% endfor %}],
                text: 'hello',
        datasets: [{
            label: 'Number of policies bought',
            data: [{% for reg in objregionfilter %} '{{reg.c}}', {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 1)',

            ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                    borderWidth: 1
        }]
    },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
});
    </script>

</div>

{%endblock body%}