{% extends 'base.html' %}

{% block title %}Search{% endblock title %}
{% block body%}
<table class="table table-striped table-hover">
    <tr>
        <th> </th>
        <th>Policy ID</th>
        <th>Date</th>
        <th>Customer ID</th>
        <th>Fuel</th>
        <th>Vehicle Segment</th>
        <th>Preminum</th>
        <th>Bodily injury liability</th>
        <th>Personal injury protection</th>
        <th>Property damage liability</th>
        <th>Collision</th>
        <th>Comprehensive</th>
        <th>Customer Gender</th>
        <th>Customer Income group</th>
        <th>Customer Region</th>
        <th>Customer Marital status</th>
    </tr>
    <tr>
        {% for o in obj %}
        <td><a href="{% url 'edit' o.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
          </svg></a></td>
        <td>{{o.Policy_id}}</td>
        <td>{{o.Date_of_Purchase}}</td>
        <td>{{o.Customer_id}}</td>
        <td>{{o.Fuel}}</td>
        <td>{{o.VEHICLE_SEGMENT}}</td>
        <td>{{o.Preminum}}</td>
        <td>{{o.bodily_injury_liability}}</td>
        <td>{{o.personal_injury_protection}}</td>
        <td>{{o.property_damage_liability}}</td>
        <td>{{o.collision}}</td>
        <td>{{o.comprehensive}}</td>
        <td>{{o.Customer_Gender}}</td>
        <td>{{o.Customer_Income_group}}</td>
        <td>{{o.Customer_Region}}</td>
        {% if todo.Customer_Marital_status %}
        <td>Married</td>
        {% else %}
        <td> Unmarried</td>
        {% endif %}
        
        
    </tr>
    {% endfor %}

</table>
{% endblock body%}
